doctype html
html(lang="en")
    head
        include ./views/partials/head
        include ./views/partials/noscript
        
    body 
        // To include all SVGs as an sprite
        //- svg 
        
        main.app
            // To implement smooth-scrolling
            .webgl__wrapper
                .gl-image__wrapper 
                    canvas.webgl
                //- I would like to remove this item
                video(src='reel.mp4' autoplay muted loop playisinline='true' role='presentation' data-gl-image='media' crossorigin="anonymous")
                //- img(src='1.jpg' data-gl-image="media" crossorigin="anonymous")
            .app__wrapper
                include ./views/partials/transition

        script(src="main.js") 