$color-black: #000;

// $color-primary: rgb(246, 244, 241);
// $color-accent: rgb(29, 29, 29);
// $color-orange: rgb(231, 112, 80);
// $color-white: rgb(255, 255, 255);

// $color-primary: rgb(187, 187, 187);
// $color-accent: rgb(41, 40, 46);
// $color-orange: rgb(231, 112, 80);
// $color-offwhite: rgb(246, 244, 241);

// exo ape colors
$color-primary: rgb(255, 255, 255);
$color-accent: rgb(13, 14, 19);
$color-orange: rgb(231, 112, 80);
$color-white: rgb(246, 244, 241);

$saol: 'Saol Display';
$suisse: 'Suisse Intl';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
    'noscript',
    'preloader',
    'cursor',
    'navigation',
    'content',
    'cases',
    'canvas',
);